.task-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1300px;
}
.input-form {
  width: 400px;
  margin: 25px auto;
}
input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}
.input-form > button {
  display: none;
}
.container {
  width: 400px;
  height: 500px;
  padding: 30px;
  border-radius: 5px;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}
.active {
  border: 3px solid black;
}
.complete {
  border: 3px solid rgb(82, 209, 60);
}
.todo-item {
  border: 1px solid rgba(19, 45, 68, 0.8);
  background-color: rgba(19, 45, 68, 0.8);
  color: white;
  margin: 20px;
  padding: 25px;
  border-radius: 15px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
  padding-top: 15px;
}
button {
  margin: 0 5px;
}

.dragging {
  box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.1);
}

.dragover {
  border: 3px solid orange;
}
